---

- hosts: nanog80 #all
  become: true
  gather_facts: yes
  user:  vagrant 
  vars:
    ssh_user: vagrant 
    github_public_keystore: https://github.com/tonikalombo.keys        
    ansible_ssh_extra_args: '-o StrictHostKeyChecking=no'     
    pip_install_packages:
      - name: docker  
  roles:
    - devboks.bionic.bootstrap    
    - geerlingguy.pip
    - geerlingguy.docker
    - devboks.docker.sudoer.role
    - devboks.authorizedkeys.setup
